* {
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

:root {
    --medium: #54b087;
    --dark: #317959;
    --darker: #204f3a;
}

/* HEADER STYLES */

.welcome {
    text-align: center;
    margin-bottom: 10vh;
    font-size: 55px;
}

.welcome:hover {
    cursor: pointer;
}

/* CODE QUIZ STYLES */

.webContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* TITLE SCREEN STYLES */

#titleScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--medium);
    border-radius: 20px;
    margin: 10px;   
    max-width: 80vh;
}

.start-btn {
    background-color: var(--dark);
    border-radius: 20px;
    margin: 40px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 130px;
    font-weight: 500;
    padding: 20px 30px;
}
  
  .start-btn:hover {
    box-shadow: var(--darker) 0 4px 8px, var(--darker) 0 -3px 0 inset;
    transform: translateY(-6px);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .start-btn:active {
    background-color: var(--darker);
    color: var(--medium);
    transform: translateY(4px);
  }

.description {
    font-size: 20px;
    color: white;
    background-color: var(--medium);
    text-align: center;
    margin: 20px;
}

/* QUIZ STYLES */

#quizContainer {
    flex-direction: column;
    align-items: center;
}

.question-card {
    flex-direction: column;
    text-align: center;
    background-color: var(--medium);
    border-radius: 20px;
    margin: 10px;   
    /* maybe remove */
    min-width: 80vh; 
    /*  */
    max-width: 80vh;
}

.options {
    background-color: var(--medium);
}

.opt-btn {
    background-color: var(--dark);
    border-radius: 20px;
    margin: 6px;
    min-width: 300px;
    border-style: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 30px;
}

.opt-btn:hover {
    box-shadow: white 0 4px 20px;
    transform: translateY(-3px);
}

.timer, #time {
    background-color: var(--medium);
}


/* MASCOT STYLES */

.mascot {
    max-width: 100%;
    height: 80vh;
    object-fit: cover;
}

mascotContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

